<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const userStore = useUserStore();
const form = ref<VForm | null>(null);

const clear = () => {
  userStore.dialog = false;
  userStore.clear();
}

const save = async () => {
  const { valid } = await form.value!.validate();
  if(valid) {
    userStore.saveUser();
  }
}
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="userStore.dialog"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                >
                  <v-text-field
                    label="Login*"
                    v-model="userStore.editedUser.login"
                    :rules="[
                      (v) => !!v || 'Login is required',
                      (v) => v.length >= 5 || 'Login must have more than 4 letter.'
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                >
                  <v-text-field
                    label="Name*"
                    v-model="userStore.editedUser.name"
                    :rules="[
                      (v) => !!v || 'Name is required',
                      (v) => v.length >= 5 || 'Name must have more than 4 letter.'
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                >
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Password*"
                    type="password"
                    v-model="userStore.editedUser.password"
                    :rules="[
                      (v) => !!v || 'Password is required',
                      (v) => v.length >= 7 || 'Password must have more than 7 letter.',
                      (v) => /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(v) || 'Password must contains lower and upper letter and special character'
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="clear"
          >
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>